---
import App from '../components/App.jsx';
import '../base.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PokéDex de Juegos - Archivo Histórico</title>
	</head>
	<body class="bg-slate-900 m-0 p-0">
		<App client:only="react" />
	</body>
</html>